<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit</title>
  <link rel="stylesheet" th:href = "@{/css/main.css}"/>
</head>
<body>

<h1>Edit Employee</h1>
<div class="editDiv">
<form class="edit" th:action=" @{/edit/{id}(id=${employee.id})}" th:object = "${employee}" method="post">
  <div>
    <label>Id</label>
    <input type = text th:field = "*{idSystem}">
  </div>
  <div>
    <label>Project Id</label>
    <input type = text th:field = "*{projectId}">
  </div>
  <div>
    <label>Start date</label>
    <span th:text="*{startDate}"> Start date </span>
    <input type="date" th:field="*{startDate}">
  </div>
  <div>
    <label>End date</label>
    <span th:text="*{endDate}"> End date </span>
    <input type="date" th:field="*{endDate}">
  </div>
  <input type="submit" value="Submit">
</form>
</div>
</body>
</html>