<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Together</title>
</head>
<body>
<h1>Employees on Projects</h1>
<table >
    <thead>
    <tr>
        <th>Employee ID</th>
        <th>Days</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${employees.entrySet()}">
        <td th:text="${entry.key}"></td>
        <td th:text="${entry.value}"></td>
    </tr>
    </tbody>
</table>
<table>
    <tbody>
    <tr th:each="entry : ${days.entrySet()}">

        <td th:text="'Project: '+${entry.key}"></td>
        <td th:text="'Days '+ ${entry.value}"></td>
    </tr>
    </tbody>
</table>



</body>
</html>

