<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Together</title>
</head>
<body>
<h1>Employees on Projects</h1>

<table>
    <tbody>
    <tr th:each="entry : ${employees.entrySet()}">
        <td th:text="'Employees id: ' + ${entry.key}"></td>
        <td th:text="'All days: ' + ${entry.value}"></td>
    </tr>
    </tbody>
</table>

<h2>Days on Projects</h2>
<table>
    <tbody>
    <tr th:each="entry : ${days.entrySet()}">
        <td th:text="'Project: ' + ${entry.key}"></td>
        <td th:text="'Days: ' + ${entry.value}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>